<font size=10>Imports and stuff<font>

In [79]:
%config Completer.use_jedi = False
import pandas as pd
import numpy as np
import datetime as dt
from IPython.display import display

<font size=10>Open all csv<font>

In [80]:
champions = pd.read_csv("champions.csv")
drakes = pd.read_csv("drakes.csv")

<font size=10>Functions to control the csv<font>

In [81]:
def check_str(is_string):
    if isinstance(is_string, str):
        return True
    else: return False

In [82]:
def check_bool(is_bool):
    if isinstance(is_bool, bool):
        return True
    else: return False

In [83]:
def check_numeric(is_numeric):
    if isinstance(is_numeric, int):
        return True
    else: return False

In [84]:
def check_date(is_date):
    if isinstance(is_date, dt.date):
        return True
    else: return False

In [85]:
def check_time(is_time):
    if isinstance(is_time, dt.time):
        return True
    else: return False

In [86]:
def check_side(side):
    if check_str(side):
        if side == "R" or side == "B":
            return True
    else: return False

In [87]:
def check_positive(number):
    if check_numeric(number):
        if number < 0:
            return False
        else: return True
    else: return False

In [88]:
def check_order(number):
    if check_numeric(number):
        if number < 1 or number > 5:
            return False
        else: return True
    else: return False

<font size=5>Champions csv<font>

In [89]:
def add_champion(champions, champion,picked,side,order,team,enemy,game,position,player,fb,kills,deaths,assists,date,won,time,penta,stage):
    if check_str(champion):
        if check_bool(picked):
            if check_side(side):
                if check_order(order):
                    if check_str(team):
                        if check_str(enemy):
                            if check_order(game):
                                if check_str(position):
                                    if check_str(player):
                                        if check_bool(fb):
                                            if check_positive(kills):
                                                if check_positive(deaths):
                                                    if check_positive(assists):
                                                        if check_date(date):
                                                            if check_bool(won):
                                                                if check_time(time):
                                                                    if check_positive(penta):
                                                                        if check_str(stage):
                                                                            champion = champion.upper()
                                                                            side = side.upper()
                                                                            team = team.upper()
                                                                            enemy = enemy.upper()
                                                                            position = position.upper()
                                                                            player = player.upper()
                                                                            stage = stage.upper()
                                                                            list_to_add = pd.DataFrame({"champion": [champion], "picked":[picked], "side":[side],
                                                                                  "order":[order], "team":[team], "enemy":[enemy],
                                                                                  "game":[game], "position":[position], "player":[player],
                                                                                  "fb":[fb], "kills":[kills], "deaths":[deaths],
                                                                                  "assists":[assists], "date":[date],
                                                                                    "won":[won], "time":[time], "penta":[penta], "stage":[stage]})
                                                                            champions = pd.concat([champions, list_to_add], ignore_index = True)
                                                                            return champions
                                                                            print("working")
    else: print("not working")

In [90]:
def save_champion(champions):
    champions.to_csv('champions.csv', mode='w', index=False)

<font size=5>dragon csv<font>

In [91]:
def add_drake(drakes, name,team,enemy,game,order,time,date,won,stage):
    if check_str(name):
        if check_str(team):
            if check_str(enemy):
                if check_order(game):
                    if check_numeric(order):
                        if check_time(time):
                            if check_date(date):
                                if check_bool(won):
                                    if check_str(stage):
                                        name = name.upper()
                                        team = team.upper()
                                        enemy = enemy.upper()
                                        stage = stage.upper()
                                        list_to_add = pd.DataFrame({"type": [name], "team":[team], "enemy":[enemy],
                                                                          "game":[game], "order":[order], "time":[time],
                                                                          "date":[date], "won": [won], "stage": [stage]})
                                        drakes = pd.concat([drakes, list_to_add], ignore_index = True)
                                        return drakes
                                        print("working")
    else: print("not working")

In [92]:
def save_drake(drakes):
    drakes.to_csv('drakes.csv', mode='w', index=False)

<font size=10>Controllers<font>

In [93]:
Play_ins_start = "2023-10-10"
Play_ins_day_2 = "2023-10-11"
Play_ins_day_3 = "2023-10-12"
Play_ins_day_4 = "2023-10-13"
Play_ins_day_5 = "2023-10-14"
Play_ins_end = "2023-10-15"
Swiss_start = "2023-10-19"
Swiss_day_2 = "2023-10-20"
Swiss_day_3 = "2023-10-21"
Swiss_day_4 = "2023-10-22"
Swiss_day_5 = "2023-10-23"
Swiss_day_6 = "2023-10-26"
Swiss_day_7 = "2023-10-27"
Swiss_day_8 = "2023-10-28"
Quarter_start = "2023-11-02"
Quarter_day_2 = "2023-11-03"
Quarter_day_3 = "2023-11-04"
Quarter_end = "2023-11-05"
Semi_start = "2023-11-11"
Semi_end = "2023-11-12"
Finals = "2023-11-19"
#first has to be lowest time, second has to be highest time
between_time = [Semi_start,Semi_end]

less_than = Play_ins_day_5

exact_date = Finals

In [94]:
champions_copy = champions
drakes_copy = drakes

<font size=5>champions time modifier<font>

In [95]:
def modify_champions_date_everything(function):
    def wrapper():
        global champions
        global less_than
        champions_copy = champions.copy()
        function(champions_copy)
    return wrapper 

def modify_champions_date_before(function):
    def wrapper():
        global champions
        global less_than
        champions_copy = champions.copy()
        champions_copy["date"] = pd.to_datetime(champions_copy["date"], format="%Y-%m-%d")
        champions_copy = champions_copy.loc[(champions_copy['date'] <= less_than)]
        function(champions_copy)
    return wrapper    


def modify_champions_exact_date(function):
    def wrapper():
        global champions
        global exact_date
        champions_copy = champions.copy()
        champions_copy['date'] = pd.to_datetime(champions_copy['date'], format='%Y-%m-%d')
        champions_copy = champions_copy.loc[champions_copy['date'] == exact_date]
        function(champions_copy)
    return wrapper



def modify_champions_date_between(function):
    def wrapper():
        global champions
        global between_time
        
        champions_copy = champions.copy()
        champions_copy["date"] = pd.to_datetime(champions_copy["date"], format="%Y-%m-%d")
        champions_copy = champions_copy.loc[(champions_copy['date'] <= between_time[1]) & (champions_copy['date'] >= between_time[0])]

        function(champions_copy)
    return wrapper

<font size=5>drakes time modifier<font>

In [96]:
def modify_drakes_date_everything(function):
    def wrapper():
        global drakes
        global less_than
        drakes_copy = drakes.copy()
        function(drakes_copy)
    return wrapper 

def modify_drakes_date_before(function):
    def wrapper():
        global drakes
        global less_than
        drakes_copy = drakes.copy()
        drakes_copy["date"] = pd.to_datetime(drakes_copy["date"], format="%Y-%m-%d")
        drakes_copy = drakes_copy.loc[(drakes_copy['date'] <= less_than)]
        function(drakes_copy)
    return wrapper    


def modify_drakes_exact_date(function):
    def wrapper():
        global drakes
        global exact_date
        drakes_copy = drakes.copy()
        drakes_copy['date'] = pd.to_datetime(drakes_copy['date'], format='%Y-%m-%d')
        drakes_copy = drakes_copy.loc[drakes_copy['date'] == exact_date]
        function(drakes_copy)
    return wrapper



def modify_drakes_date_between(function):
    def wrapper():
        global drakes
        global between_time
        
        drakes_copy = drakes.copy()
        drakes_copy["date"] = pd.to_datetime(drakes_copy["date"], format="%Y-%m-%d")
        drakes_copy = drakes_copy.loc[(drakes_copy['date'] <= between_time[1]) & (drakes_copy['date'] >= between_time[0])]

        function(drakes_copy)
    return wrapper

<font size=20>Specific time<font>

<font size=10>General<font>

<font size=5>Current number of drakes slayed by type<font>

In [97]:
@modify_drakes_date_everything
#@modify_drakes_date_before
#@modify_drakes_date_between
#@modify_drakes_exact_date
def timed_drakes_slayed(drakes_copy):
    most_slayed_drake = drakes_copy.value_counts(subset = ["type"])
    print(most_slayed_drake)
timed_drakes_slayed()

type
INFERNAL    90
MOUNTAIN    87
CLOUD       83
CHEMTECH    73
HEXTECH     72
OCEAN       68
dtype: int64

<font size=5>Total number of pentakills<font>

In [98]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_number_of_pentakills(champions_copy):
    total_number_of_pentakills = champions_copy["penta"].sum()
    print(total_number_of_pentakills)
timed_number_of_pentakills()

3

<font size=5>Longest game<font>

In [99]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_longuest_game(champions_copy):
    winners = champions_copy.where(champions_copy["picked"] == True ).dropna()
    winners = winners.where(winners["won"] == True ).dropna()
    longest_game = winners[["team","enemy","time"]]
    longest_game = longest_game.sort_values(by="time", ascending=False).drop_duplicates().head(1)
    display(longest_game)

timed_longuest_game()

     team enemy      time
1764  GEN   BLG  00:46:10

<font size=10>Champions<font>

<font size=5>Champion played in most different roles<font>

In [100]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_unique_champ_role_pair(champions_copy):
    unique_champ_role_pair = champions_copy
    unique_champ_role_pair = unique_champ_role_pair[["champion",'position']].where(unique_champ_role_pair["picked"] == True).drop_duplicates().dropna()
    times_champion_repeat = unique_champ_role_pair.value_counts(subset = ["champion"]).head(20)
    times_champion_repeat = times_champion_repeat.where(times_champion_repeat > 1).dropna()
    print(times_champion_repeat)
timed_unique_champ_role_pair()

champion
CAITLYN      2.0
POPPY        2.0
SENNA        2.0
SETT         2.0
MAOKAI       2.0
GRAGAS       2.0
K'SANTE      2.0
RELL         2.0
TALIYAH      2.0
TRISTANA     2.0
JAYCE        2.0
LISSANDRA    2.0
YONE         2.0
ASHE         2.0
dtype: float64

<font size=5>Current number of champions banned<font>

In [101]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_champions_banned(champions_copy):
    champions_copy = champions_copy.query('picked == False').value_counts(subset = ["champion"]).head(5)
    print(champions_copy)

timed_champions_banned()

champion
RUMBLE      63
NEEKO       63
ORIANA      62
MAOKAI      61
XAYAH       54
dtype: int64

<font size=5>Current number of champions picked<font>

In [102]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_champions_picked(champions_copy):
    champions_picked = champions_copy.where(champions_copy["picked"] == True).value_counts(subset = ["champion"]).head(5)
    print(champions_picked)

timed_champions_picked()

champion
KAI'SA      57
RELL        51
XAYAH       46
RAKAN       46
ORIANA      41
dtype: int64

<font size=5>Champs by death<font>

In [103]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_champions_deaths(champions_copy):
    champions_deaths = champions_copy.groupby('champion')['deaths'].sum().sort_values(ascending = False).head(5)
    print(champions_deaths)

timed_champions_deaths()

champion
RELL         152
KAI'SA       122
JARVAN IV    109
RENEKTON     109
K'SANTE      109
Name: deaths, dtype: int64

<font size=5>Highest winrate with 5+ games<font>

In [104]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_champions_highest_winrate(champions_copy):
    champions_picked = champions_copy.where(champions_copy["picked"] == True).dropna()
    champions_picked_5_p = champions_picked.value_counts(subset = ["champion"])
    champions_picked_5_p = champions_picked_5_p.reset_index()
    champions_picked_5_p = champions_picked_5_p.rename(columns={champions_picked_5_p.columns[1]: 'pick'})
    champions_picked_5_p = champions_picked_5_p.where(champions_picked_5_p["pick"] > 4).dropna()
    
    number_of_times_champions_picked_won = champions_picked.where(champions_copy["won"] == True).value_counts(subset = ["champion"])
    number_of_times_champions_picked_won = number_of_times_champions_picked_won.reset_index()
    number_of_times_champions_picked_won = number_of_times_champions_picked_won.rename(columns={number_of_times_champions_picked_won.columns[1]: 'won'}) 

    champion_winrate_5_P = pd.merge(champions_picked_5_p, number_of_times_champions_picked_won, on='champion')
    champion_winrate_5_P["percentage_of_wins"] = champion_winrate_5_P["won"] * 100 / champion_winrate_5_P["pick"]
    champion_winrate_5_P = champion_winrate_5_P.sort_values("percentage_of_wins", ascending = False ).head(10)
    
    display(champion_winrate_5_P)

timed_champions_highest_winrate()

    champion  pick  won  percentage_of_wins
42      YONE   6.0    5           83.333333
24    RENATA  17.0   14           82.352941
52  NOCTURNE   5.0    4           80.000000
33    WUKONG   9.0    7           77.777778
20     NEEKO  23.0   17           73.913043
41     MILIO   7.0    5           71.428571
17    RUMBLE  24.0   17           70.833333
2      XAYAH  46.0   31           67.391304
30      GNAR  12.0    8           66.666667
38     VARUS   8.0    5           62.500000

<font size=5>Lowest winrate with 5+ games<font>

In [105]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_champions_lowest_winrate(champions_copy):
    champions_picked = champions_copy.where(champions_copy["picked"] == True).dropna()
    champions_picked_5_p = champions_picked.value_counts(subset = ["champion"])
    champions_picked_5_p = champions_picked_5_p.reset_index()
    champions_picked_5_p = champions_picked_5_p.rename(columns={champions_picked_5_p.columns[1]: 'pick'})
    champions_picked_5_p = champions_picked_5_p.where(champions_picked_5_p["pick"] > 4).dropna()
    
    number_of_times_champions_picked_won = champions_picked.where(champions_copy["won"] == True).value_counts(subset = ["champion"])
    number_of_times_champions_picked_won = number_of_times_champions_picked_won.reset_index()
    number_of_times_champions_picked_won = number_of_times_champions_picked_won.rename(columns={number_of_times_champions_picked_won.columns[1]: 'won'}) 

    champion_winrate_5_P = pd.merge(champions_picked_5_p, number_of_times_champions_picked_won, on='champion')
    champion_winrate_5_P["percentage_of_wins"] = champion_winrate_5_P["won"] * 100 / champion_winrate_5_P["pick"]
    champion_winrate_5_P = champion_winrate_5_P.sort_values("percentage_of_wins", ascending = True ).head(10)
    
    display(champion_winrate_5_P)

timed_champions_lowest_winrate()

      champion  pick  won  percentage_of_wins
36      EZREAL   9.0    1           11.111111
44  BLITZCRANK   6.0    1           16.666667
45       LEONA   6.0    1           16.666667
22     TALIYAH  21.0    6           28.571429
25        AHRI  16.0    5           31.250000
34     CAITLYN   9.0    3           33.333333
43    BEL'VETH   6.0    2           33.333333
46        GWEN   6.0    2           33.333333
11     ALISTAR  31.0   11           35.483871
13          VI  28.0   10           35.714286

<font size=10>Teams<font>

<font size=5>Number of unique champion picks for teams<font>

In [106]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_unique_champions_picked_teams(champions_copy):
    unique_champ_team_pair = champions_copy[["team","champion"]].where(champions_copy["picked"] == True).drop_duplicates().dropna()
    unique_team_picks = unique_champ_team_pair.value_counts(subset = ["team"])
    print(unique_team_picks)
timed_unique_champions_picked_teams()

team
WBG     39
T1      37
BLG     37
JDG     35
BDS     35
GAM     32
G2      31
LNG     30
KT      30
FNC     28
NRG     26
GEN     24
CFO     22
DK      22
LLL     21
MAD     21
PSG     21
TW      21
C9      19
TL      19
R7      17
DFM     16
dtype: int64

<font size=5>Shortest game<font>

In [107]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_shortest_game(champions_copy):
    winners = champions_copy.where(champions_copy["picked"] == True ).dropna()
    winners = winners.where(winners["won"] == True).dropna()
    shortest_game = winners[["team","enemy","time"]]
    shortest_game = shortest_game.sort_values(by="time", ascending=False).drop_duplicates().tail(1)
    display(shortest_game)
timed_shortest_game()

     team enemy      time
1044   T1    C9  00:22:25

<font size=10>Players<font>

<font size=5>Number of pentakills per player<font>

In [108]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_pentakills_by_player(champions_copy):
    pentas = champions_copy.where(champions_copy["penta"] > 0).dropna()
    pentas["number of pentas"] = pentas.groupby("player")["penta"].sum()
    pentas = pentas.groupby(["team","player"])["penta"].sum()
    print(pentas)

timed_pentakills_by_player()

team  player
BDS   CROWNIE    1.0
GAM   SLAYDER    1.0
LLL   ROUTE      1.0
Name: penta, dtype: float64

<font size=5>Number of unique champion picks for players<font>

In [109]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_unique_champions_per_player(champions_copy):
    unique_champ_player_pair = champions_copy[["player","champion"]].where(champions_copy["picked"] == True).drop_duplicates().dropna()
    unique_team_picks = unique_champ_player_pair.value_counts(subset = ["player"]).head()
    print(unique_team_picks)

timed_unique_champions_per_player()

player
GUMAYUSI    12
ON          12
ELK         10
CRISP       10
SHEO         9
dtype: int64

<font size=5>Most First Bloods<font>

In [110]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_most_first_blood_per_player(champions_copy):
    unique_champ_player_pair = champions_copy[["player","fb"]].where(champions_copy["fb"] == True).dropna()
    unique_team_picks = unique_champ_player_pair.value_counts(subset = ["player"]).head()
    print(unique_team_picks)

timed_most_first_blood_per_player()

player
SCOUT      4
CROWNIE    4
BEANJ      4
ONER       4
ZEUS       3
dtype: int64

<font size=5>Most Kills in a single game (Players can appear more than once)<font>

In [111]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_most_single_game_kills_per_player_repetition(champions_copy):
    kills_by_player = champions_copy[["team","player","enemy","kills"]].where(champions_copy["picked"] == True).dropna()
    kills_by_player = kills_by_player.sort_values("kills", ascending = False).head(10)
    display(kills_by_player)
timed_most_single_game_kills_per_player_repetition()

     team    player enemy  kills
1100   KT    AIMING   WBG   14.0
585   BDS   CROWNIE   PSG   13.0
1267  FNC      NOAH    C9   12.0
1062  NRG       FBI   MAD   12.0
2041  WBG     LIGHT   BLG   12.0
42    LLL     ROUTE   GAM   11.0
145    TW   ARTEMIS   BDS   11.0
1285  WBG     LIGHT   MAD   11.0
743   LNG     SCOUT   FNC   11.0
1488   T1  GUMAYUSI   BLG   11.0

<font size=5>Most Kills in a single game (only 1 time in the ranks)<font>

In [112]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_most_single_game_kills_per_player(champions_copy):
    kills_by_player = champions_copy[["team","player","enemy","kills"]].where(champions_copy["picked"] == True).dropna()
    unique_max_kills_by_player = kills_by_player.groupby("player").max()
    unique_max_kills_by_player = unique_max_kills_by_player.sort_values("kills", ascending = False).head(10)
    display(unique_max_kills_by_player)
timed_most_single_game_kills_per_player()

         team enemy  kills
player
AIMING     KT   WBG   14.0
CROWNIE   BDS    TW   13.0
NOAH      FNC   WBG   12.0
LIGHT     WBG    T1   12.0
FBI       NRG   WBG   12.0
GUMAYUSI   T1   WBG   11.0
ROUTE     LLL   PSG   11.0
SLAYDER   GAM    TW   11.0
WAKO      PSG    R7   11.0
SCOUT     LNG    T1   11.0

<font size=5>Highest KDA<font>

In [113]:
#this code does not verify if deaths are always 0
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_hightest_kda_per_player(champions_copy):
    k_d_a_by_player = champions_copy[["player","kills", "deaths","assists"]].where(champions_copy["picked"] == True).dropna()
    k_d_a_by_player = k_d_a_by_player.groupby("player").sum()
    k_d_a_by_player = k_d_a_by_player.where(k_d_a_by_player["deaths"] > 0)

    kda_by_player = k_d_a_by_player

    kda_by_player["kda"] = (kda_by_player["kills"] + kda_by_player["assists"]) / kda_by_player["deaths"]
    kda_by_player["kda"] = kda_by_player["kda"].round(1)
    kda_by_player = kda_by_player.sort_values("kda", ascending = False).head(10)
    display(kda_by_player)
timed_hightest_kda_per_player()

           kills  deaths  assists  kda
player
GUMAYUSI    54.0    14.0     82.0  9.7
KERIA       15.0    18.0    135.0  8.3
ONER        37.0    26.0    146.0  7.0
PEYZ        42.0    12.0     40.0  6.8
SHOWMAKER   20.0    10.0     46.0  6.6
FAKER       46.0    21.0     90.0  6.5
RULER       52.0    17.0     56.0  6.4
LIGHT       84.0    29.0     83.0  5.8
AIMING      70.0    22.0     51.0  5.5
CHOVY       33.0    15.0     49.0  5.5

<font size=10>Misc<font>

<font size=5>B v R winrate<font>

In [114]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_blue_v_red_winrate(champions_copy):
    side_winrate = champions_copy[["team","enemy","side","won","date","game"]].dropna().drop_duplicates()

    r_side_winrate = side_winrate.where(side_winrate["side"] == "R").dropna()
    r_side_winrate = r_side_winrate.where(r_side_winrate["won"] == True).dropna()
    r_side_winrate = r_side_winrate.value_counts(subset = ["side"]).head()


    b_side_winrate = side_winrate.where(side_winrate["side"] == "B").dropna()
    b_side_winrate = b_side_winrate.where(b_side_winrate["won"] == True).dropna()
    b_side_winrate = b_side_winrate.value_counts(subset = ["side"]).head()


    total = b_side_winrate[0] + r_side_winrate[0]
    red_victories = r_side_winrate[0]
    red_percentage = (red_victories*100/total)
    blue_victories = b_side_winrate[0]
    blue_percentage = (blue_victories*100/total)
    print(f"total games: {total} ")
    print(f"Blue side victories: {blue_victories} translates to {blue_percentage:.2f}% winrate")
    print(f"Red side victories: {red_victories} translates to {red_percentage:.2f}% winrate")
    
timed_blue_v_red_winrate()

total games: 115
Blue side victories: 67 translates to 58.26% winrate
Red side victories: 48 translates to 41.74% winrate

<font size=5>Champion picked in which matches<font>

In [78]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_champions_picked_matches(champions_copy):
    champ_name = "GWEN"
    champ = champions_copy.where(champions_copy["picked"] == True).dropna()
    champ = champ.where(champ["champion"] == champ_name).dropna()
    display(champ)
timed_champions_picked_matches()

,champion,picked,side,order,team,enemy,game,position,player,fb,kills,deaths,assists,date,won,time,penta,stage
249,GWEN,True,R,5.0,CFO,TW,2.0,TOP,REST,False,0.0,4.0,2.0,2023-10-12,False,00:30:39,0.0,PLAY-INS
283,GWEN,True,B,4.0,R7,GAM,1.0,TOP,BONG,False,0.0,7.0,2.0,2023-10-13,False,00:26:18,0.0,PLAY-INS
648,GWEN,True,R,4.0,MAD,C9,1.0,TOP,CHASY,True,1.0,3.0,1.0,2023-10-19,False,00:30:56,0.0,SWISS
1904,GWEN,True,B,5.0,LNG,T1,1.0,TOP,ZIKA,True,2.0,3.0,0.0,2023-11-05,False,00:26:33,0.0,QUARTER
1922,GWEN,True,B,3.0,LNG,T1,2.0,TOP,ZIKA,False,0.0,2.0,1.0,2023-11-05,True,00:31:38,0.0,QUARTER
2169,GWEN,True,R,5.0,T1,WBG,2.0,TOP,ZEUS,True,5.0,1.0,6.0,2023-11-19,True,00:29:57,0.0,FINALS

<font size=5>Champion picked By X player<font>

In [112]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_champions_picked_by_player(champions_copy):
    X = "SHEO"
    player_champions = champions_copy.where(champions_copy["player"] == X).dropna()
    display(player_champions)
timed_champions_picked_by_player()

,champion,picked,side,order,team,enemy,game,position,player,fb,kills,deaths,assists,date,won,time,penta,stage
120,RELL,True,B,1.0,BDS,TW,1.0,JUNGLE,SHEO,True,1.0,0.0,10.0,2023-10-11,True,00:23:44,0.0,PLAY-INS
142,RELL,True,B,3.0,BDS,TW,2.0,JUNGLE,SHEO,False,0.0,4.0,6.0,2023-10-11,False,00:38:45,0.0,PLAY-INS
169,GRAGAS,True,R,5.0,BDS,TW,3.0,JUNGLE,SHEO,False,0.0,1.0,4.0,2023-10-11,False,00:41:04,0.0,PLAY-INS
326,IVERN,True,R,2.0,BDS,DFM,1.0,JUNGLE,SHEO,False,1.0,0.0,9.0,2023-10-13,True,00:26:54,0.0,PLAY-INS
341,VI,True,B,2.0,BDS,DFM,2.0,JUNGLE,SHEO,False,5.0,1.0,6.0,2023-10-13,True,00:28:57,0.0,PLAY-INS
406,SEJUANI,True,R,2.0,BDS,CFO,1.0,JUNGLE,SHEO,False,2.0,2.0,16.0,2023-10-14,True,00:42:25,0.0,PLAY-INS
426,MAOKAI,True,R,2.0,BDS,CFO,2.0,JUNGLE,SHEO,False,2.0,1.0,11.0,2023-10-14,True,00:28:29,0.0,PLAY-INS
525,SEJUANI,True,R,1.0,BDS,PSG,1.0,JUNGLE,SHEO,False,0.0,3.0,3.0,2023-10-15,False,00:34:24,0.0,PLAY-INS
543,TALIYAH,True,B,4.0,BDS,PSG,2.0,JUNGLE,SHEO,False,0.0,5.0,3.0,2023-10-15,False,00:28:07,0.0,PLAY-INS
560,MAOKAI,True,B,1.0,BDS,PSG,3.0,JUNGLE,SHEO,False,3.0,3.0,15.0,2023-10-15,True,00:40:35,0.0,PLAY-INS
586,IVERN,True,R,2.0,BDS,PSG,4.0,JUNGLE,SHEO,False,1.0,1.0,16.0,2023-10-15,True,00:26:36,0.0,PLAY-INS
605,MAOKAI,True,R,1.0,BDS,PSG,5.0,JUNGLE,SHEO,False,1.0,1.0,7.0,2023-10-15,True,00:43:49,0.0,PLAY-INS
681,VI,True,B,2.0,BDS,JDG,1.0,JUNGLE,SHEO,False,2.0,3.0,4.0,2023-10-19,False,00:27:01,0.0,SWISS
826,VI,True,R,2.0,BDS,MAD,1.0,JUNGLE,SHEO,False,0.0,4.0,6.0,2023-10-20,False,00:31:47,0.0,SWISS
1186,LEE SIN,True,R,2.0,BDS,DK,1.0,JUNGLE,SHEO,True,1.0,4.0,4.0,2023-10-23,False,00:24:31,0.0,SWISS
1203,WUKONG,True,B,4.0,BDS,DK,2.0,JUNGLE,SHEO,False,1.0,2.0,2.0,2023-10-23,False,00:24:22,0.0,SWISS

<font size=5>Times Champion picked By X player<font>

In [113]:
@modify_champions_date_everything
#@modify_champions_date_before
#@modify_champions_date_between
#@modify_champions_exact_date
def timed_times_champions_picked_by_player(champions_copy):
    X = "SHEO"
    player_champions = champions_copy.where(champions_copy["player"] == X).dropna()
    unique_player_champions = player_champions.value_counts(subset = ["champion"])
    print(unique_player_champions)
timed_times_champions_picked_by_player()

champion
MAOKAI      3
VI          3
IVERN       2
RELL        2
SEJUANI     2
GRAGAS      1
LEE SIN     1
TALIYAH     1
WUKONG      1
dtype: int64

<font size=20>add champion<font>

In [36]:
#champion = name of champio
#picked = true if picked, False if banned
#side = "R" or "B"
#order = 1-5, the order it was picked/banned for that side (first pick, second etc) 
#team = name of the team that picked it
#enemy = name of the enemy team that it was picked against
#game = the number of the game in the series
#position = where the champion was played, Jungle, Support etc
#player = the name of the player that used the champion
#fb = was this player/champion the one with first blood?
#kills = number of kills at the end of the game
#deaths = number of deaths at the end of the game
#assists  = number of assists at the end of the game
#date = When was the match played
#won = True if the game was won
#time = the minutes and seconds the game took to finish

#special considerations!!!
#in case of a ban, the player name shall be "ban", the kda shall be "0", position shall be "ban"


game_number = 3
game_date = dt.date(2023, 11, 19)
game_time = dt.time(0,25,47)
stage = "FINALS"
blue_team = "WBG"
red_team = "T1"


#Blue champion||picked||side||order||team||enemy||game||position||player||fb||k||d||a||date||won||time||penta||stage
champions = add_champion(champions, "azir",True,"B",1,blue_team,red_team,game_number,"mid","xiaohu",False,0,3,0,game_date,False,game_time,0,stage)
champions = add_champion(champions, "varus",True,"B",2,blue_team,red_team,game_number,"adc","light",False,2,2,1,game_date,False,game_time,0,stage)
champions = add_champion(champions, "bard",True,"B",3,blue_team,red_team,game_number,"support","crisp",False,1,4,4,game_date,False,game_time,0,stage)
champions = add_champion(champions, "bel'veth",True,"B",4,blue_team,red_team,game_number,"jungle","weiwei",False,2,4,3,game_date,False,game_time,0,stage)
champions = add_champion(champions, "kennen",True,"B",5,blue_team,red_team,game_number,"top","theshy",False,0,6,3,game_date,False,game_time,0,stage)

#Red champion||picked||side||order||team||enemy||game||position||player||fb||k||d||a||date||won||time||penta||stage
champions = add_champion(champions, "xayah",True,"R",1,red_team,blue_team,game_number,"adc","keria",False,2,0,5,game_date,True,game_time,0,stage)
champions = add_champion(champions, "rakan",True,"R",2,red_team,blue_team,game_number,"support","gumayusi",False,0,2,16,game_date,True,game_time,0,stage)
champions = add_champion(champions, "akali",True,"R",3,red_team,blue_team,game_number,"mid","faker",False,6,1,9,game_date,True,game_time,0,stage)
champions = add_champion(champions, "lee sin",True,"R",4,red_team,blue_team,game_number,"jungle","oner",True,5,1,11,game_date,True,game_time,0,stage)
champions = add_champion(champions, "aatrox",True,"R",5,red_team,blue_team,game_number,"top","zeus",False,6,1,7,game_date,True,game_time,0,stage)

#-----------------------------------------------------------------------------------------------------------------------------
#-----------------------------------------------------------------------------------------------------------------------------
#-----------------------------------------------------------------------------------------------------------------------------

#blue bans champion||picked||side||order||team||enemy||game||position||player||fb||k||d||a||date||won||time||penta||stage
champions = add_champion(champions, "jarvan iv",False,"B",1,blue_team,red_team,game_number,"ban","ban",False,0,0,0,game_date,False,game_time,0,stage)
champions = add_champion(champions, "ashe",False,"B",2,blue_team,red_team,game_number,"ban","ban",False,0,0,0,game_date,False,game_time,0,stage)
champions = add_champion(champions, "renata",False,"B",3,blue_team,red_team,game_number,"ban","ban",False,0,0,0,game_date,False,game_time,0,stage)
champions = add_champion(champions, "wukong",False,"B",4,blue_team,red_team,game_number,"ban","ban",False,0,0,0,game_date,False,game_time,0,stage)
champions = add_champion(champions, "jayce",False,"B",5,blue_team,red_team,game_number,"ban","ban",False,0,0,0,game_date,False,game_time,0,stage)

#red bans champion||picked||side||order||team||enemy||game||position||player||fb||k||d||a||date||won||time||penta||stage
champions = add_champion(champions, "neeko",False,"R",1,red_team,blue_team,game_number,"ban","ban",False,0,0,0,game_date,True,game_time,0,stage)
champions = add_champion(champions, "rumble",False,"R",2,red_team,blue_team,game_number,"ban","ban",False,0,0,0,game_date,True,game_time,0,stage)
champions = add_champion(champions, "oriana",False,"R",3,red_team,blue_team,game_number,"ban","ban",False,0,0,0,game_date,True,game_time,0,stage)
champions = add_champion(champions, "poppy",False,"R",4,red_team,blue_team,game_number,"ban","ban",False,0,0,0,game_date,True,game_time,0,stage)
champions = add_champion(champions, "k'sante",False,"R",5,red_team,blue_team,game_number,"ban","ban",False,0,0,0,game_date,True,game_time,0,stage)

champions.tail(20)

,champion,picked,side,order,team,enemy,game,position,player,fb,kills,deaths,assists,date,won,time,penta,stage
2180,AZIR,True,B,1,WBG,T1,3,MID,XIAOHU,False,0,3,0,2023-11-19,False,00:25:47,0,FINALS
2181,VARUS,True,B,2,WBG,T1,3,ADC,LIGHT,False,2,2,1,2023-11-19,False,00:25:47,0,FINALS
2182,BARD,True,B,3,WBG,T1,3,SUPPORT,CRISP,False,1,4,4,2023-11-19,False,00:25:47,0,FINALS
2183,BEL'VETH,True,B,4,WBG,T1,3,JUNGLE,WEIWEI,False,2,4,3,2023-11-19,False,00:25:47,0,FINALS
2184,KENNEN,True,B,5,WBG,T1,3,TOP,THESHY,False,0,6,3,2023-11-19,False,00:25:47,0,FINALS
2185,XAYAH,True,R,1,T1,WBG,3,ADC,KERIA,False,2,0,5,2023-11-19,True,00:25:47,0,FINALS
2186,RAKAN,True,R,2,T1,WBG,3,SUPPORT,GUMAYUSI,False,0,2,16,2023-11-19,True,00:25:47,0,FINALS
2187,AKALI,True,R,3,T1,WBG,3,MID,FAKER,False,6,1,9,2023-11-19,True,00:25:47,0,FINALS
2188,LEE SIN,True,R,4,T1,WBG,3,JUNGLE,ONER,True,5,1,11,2023-11-19,True,00:25:47,0,FINALS
2189,AATROX,True,R,5,T1,WBG,3,TOP,ZEUS,False,6,1,7,2023-11-19,True,00:25:47,0,FINALS
2190,JARVAN IV,False,B,1,WBG,T1,3,BAN,BAN,False,0,0,0,2023-11-19,False,00:25:47,0,FINALS
2191,ASHE,False,B,2,WBG,T1,3,BAN,BAN,False,0,0,0,2023-11-19,False,00:25:47,0,FINALS
2192,RENATA,False,B,3,WBG,T1,3,BAN,BAN,False,0,0,0,2023-11-19,False,00:25:47,0,FINALS
2193,WUKONG,False,B,4,WBG,T1,3,BAN,BAN,False,0,0,0,2023-11-19,False,00:25:47,0,FINALS
2194,JAYCE,False,B,5,WBG,T1,3,BAN,BAN,False,0,0,0,2023-11-19,False,00:25:47,0,FINALS
2195,NEEKO,False,R,1,T1,WBG,3,BAN,BAN,False,0,0,0,2023-11-19,True,00:25:47,0,FINALS
2196,RUMBLE,False,R,2,T1,WBG,3,BAN,BAN,False,0,0,0,2023-11-19,True,00:25:47,0,FINALS
2197,ORIANA,False,R,3,T1,WBG,3,BAN,BAN,False,0,0,0,2023-11-19,True,00:25:47,0,FINALS
2198,POPPY,False,R,4,T1,WBG,3,BAN,BAN,False,0,0,0,2023-11-19,True,00:25:47,0,FINALS
2199,K'SANTE,False,R,5,T1,WBG,3,BAN,BAN,False,0,0,0,2023-11-19,True,00:25:47,0,FINALS

In [37]:
save_champion(champions)

<font size=20>add drake<font>

In [32]:
#name = name of the drake (ocean, infernal, cloud, mountain, hextech, chemtech)
#team = Team that slayed the drake
#enemy = team that slayed is playing against
#game = number of the game the drake was slayed
#order = if it was the 1, 2 ,3 etc drake slayed that game
#time = at which time (hours,minutes,seconds) it was last hitted
#date = the day of the match (year - month - day)
#won = True if the game was won
#stage = Play-ins, swiss etc

game_date = dt.date(2023, 11, 19)
game_number = 3
stage = "FINALS"

drake1 = "hextech"
drake2 = "cloud"
drake_soul = "ocean"

#name||team||enemy||game||order||time||date||won||stage
drakes = add_drake(drakes, drake1,"T1","WBG",game_number,1,dt.time(0,6,16),game_date,True,stage)

drakes = add_drake(drakes, drake2,"T1","WBG",game_number,2,dt.time(0,12,0),game_date,True,stage)

drakes = add_drake(drakes, drake_soul,"T1","WBG",game_number,3,dt.time(0,18,51),game_date,True,stage)

drakes = add_drake(drakes, drake_soul,"T1","WBG",game_number,4,dt.time(0,24,21),game_date,True,stage)

#drakes = add_drake(drakes, drake_soul,"T1","WBG",game_number,5,dt.time(0,0,0),game_date,True,stage)

#drakes = add_drake(drakes, drake_soul,"T1","WBG",game_number,6,dt.time(0,0,0),game_date,True,stage)

#drakes = add_drake(drakes, drake_soul,"T1","WBG",game_number,7,dt.time(0,0,0),game_date,True,stage)

drakes.tail(7)

         type team enemy  game  order      time        date    won   stage
466     CLOUD  WBG    T1     1      3  00:18:39  2023-11-19  False  FINALS
467     CLOUD   T1   WBG     1      4  00:23:54  2023-11-19   True  FINALS
468     CLOUD   T1   WBG     1      5  00:29:15  2023-11-19   True  FINALS
469  CHEMTECH  WBG    T1     2      1  00:07:01  2023-11-19  False  FINALS
470     OCEAN  WBG    T1     2      2  00:12:31  2023-11-19  False  FINALS
471     CLOUD   T1   WBG     2      3  00:18:47  2023-11-19   True  FINALS
472     CLOUD   T1   WBG     2      4  00:24:46  2023-11-19   True  FINALS

<font size=50>Data Analysis<font>

<font size=10>General<font>

<font size=5>Current number of drakes slayed by type<font>

In [129]:
def slayed_drake(data):
    most_slayed_drake = drakes.value_counts(subset = ["type"])
    print(most_slayed_drake)
slayed_drake(drakes_copy)

type
MOUNTAIN    55
INFERNAL    45
HEXTECH     44
CHEMTECH    42
OCEAN       39
CLOUD       38
dtype: int64

<font size=5>Total number of pentakills<font>

In [130]:
total_number_of_pentakills = champions["penta"].sum()
total_number_of_pentakills

3

<font size=5>Longest game<font>

In [131]:
winners = champions.where(champions["picked"] == True ).dropna()
winners = champions.where(champions["won"] == True ).dropna()
longest_game = winners[["team","enemy","time"]]
longest_game.sort_values(by="time", ascending=False).drop_duplicates().head(1)

    team enemy      time
771  BLG    KT  00:45:13

<font size=10>Champions<font>

<font size=5>Champion played in most different roles<font>

In [132]:
unique_champ_role_pair = champions[["champion",'position']].where(champions["picked"] == True).drop_duplicates().dropna()
times_champion_repeat = unique_champ_role_pair.value_counts(subset = ["champion"]).head(5)
times_champion_repeat.where(times_champion_repeat > 1).dropna()

champion
MAOKAI      2
POPPY       2
JAYCE       2
K'SANTE     2
TALIYAH     2
dtype: int64

<font size=5>Current number of champions banned<font>

In [133]:
def champions_banned(champions_copy):
    champions_copy = champions
    champions_copy = champions_copy.query('picked == False').value_counts(subset = ["champion"]).head(5)
    print(champions_copy)

champions_banned(champions_copy)

champion
MAOKAI      42
ORIANA      40
RUMBLE      32
NEEKO       31
POPPY       27
dtype: int64

<font size=5>Current number of champions picked<font>

In [134]:
champions_picked = champions.where(champions["picked"] == True).value_counts(subset = ["champion"]).head(5)
champions_picked

champion
KAI'SA      43
XAYAH       35
RAKAN       34
RELL        28
RENEKTON    25
dtype: int64

<font size=5>Champs by death<font>

In [135]:
champions.groupby('champion')['deaths'].sum().sort_values(ascending = False).head(5)

champion
KAI'SA       96
RELL         86
RENEKTON     77
RAKAN        72
JARVAN IV    71
Name: deaths, dtype: int64

<font size=5>Highest winrate with 5+ games<font>

In [136]:
champions_picked = champions.where(champions["picked"] == True).dropna()
champions_picked_5_p = champions_picked.value_counts(subset = ["champion"])
champions_picked_5_p = champions_picked_5_p.reset_index()
champions_picked_5_p = champions_picked_5_p.rename(columns={champions_picked_5_p.columns[1]: 'pick'})
champions_picked_5_p = champions_picked_5_p.where(champions_picked_5_p["pick"] > 4).dropna()


number_of_times_champions_picked_won = champions_picked.where(champions["won"] == True).value_counts(subset = ["champion"])
number_of_times_champions_picked_won = number_of_times_champions_picked_won.reset_index()
number_of_times_champions_picked_won = number_of_times_champions_picked_won.rename(columns={number_of_times_champions_picked_won.columns[1]: 'won'}) 

champion_winrate_5_P = pd.merge(champions_picked_5_p, number_of_times_champions_picked_won, on='champion')
champion_winrate_5_P["percentage_of_wins"] = champion_winrate_5_P["won"] * 100 / champion_winrate_5_P["pick"]
champion_winrate_5_P.sort_values("percentage_of_wins", ascending = False ).head(10)

   champion  pick  won  percentage_of_wins
31   WUKONG   6.0    5           83.333333
1     XAYAH  35.0   27           77.142857
20   RUMBLE  12.0    9           75.000000
30     GNAR   6.0    4           66.666667
23    VIEGO   9.0    6           66.666667
21    NEEKO  12.0    8           66.666667
14      JAX  16.0   10           62.500000
8    ORIANA  18.0   11           61.111111
34     ZERI   5.0    3           60.000000
10   MAOKAI  17.0   10           58.823529

<font size=5>Lowest winrate with 5+ games<font>

In [23]:
champions_picked = champions.where(champions["picked"] == True).dropna()
champions_picked_5_p = champions_picked.value_counts(subset = ["champion"])
champions_picked_5_p = champions_picked_5_p.reset_index()
champions_picked_5_p = champions_picked_5_p.rename(columns={champions_picked_5_p.columns[1]: 'pick'})
champions_picked_5_p = champions_picked_5_p.where(champions_picked_5_p["pick"] > 4).dropna()


number_of_times_champions_picked_won = champions_picked.where(champions["won"] == True).value_counts(subset = ["champion"])
number_of_times_champions_picked_won = number_of_times_champions_picked_won.reset_index()
number_of_times_champions_picked_won = number_of_times_champions_picked_won.rename(columns={number_of_times_champions_picked_won.columns[1]: 'won'}) 

champion_winrate_5_P = pd.merge(champions_picked_5_p, number_of_times_champions_picked_won, on='champion')
champion_winrate_5_P["percentage_of_wins"] = champion_winrate_5_P["won"] * 100 / champion_winrate_5_P["pick"]
champion_winrate_5_P.sort_values("percentage_of_wins", ascending = True ).head(10)

      champion  pick  won  percentage_of_wins
32      EZREAL   9.0    1           11.111111
43        GWEN   6.0    1           16.666667
42       LEONA   6.0    1           16.666667
41  BLITZCRANK   6.0    1           16.666667
23        AHRI  14.0    4           28.571429
22     TALIYAH  20.0    6           30.000000
12          VI  27.0    9           33.333333
21     LEE SIN  21.0    7           33.333333
8      ALISTAR  31.0   11           35.483871
33     CAITLYN   8.0    3           37.500000

<font size=10>Teams<font>

<font size=5>Number of unique champion picks for teams<font>

In [138]:
unique_champ_team_pair = champions[["team","champion"]].where(champions["picked"] == True).drop_duplicates().dropna()
unique_champ_team_pair
unique_team_picks = unique_champ_team_pair.value_counts(subset = ["team"])
unique_team_picks

team
BDS     35
GAM     31
CFO     22
PSG     21
TW      21
JDG     21
LLL     21
TL      19
LNG     17
R7      17
DFM     16
DK      16
G2      16
GEN     15
BLG     15
KT      14
NRG     14
MAD     14
WBG     14
T1      13
FNC     13
C9      13
dtype: int64

<font size=5>Shortest game<font>

In [139]:
winners = champions.where(champions["picked"] == True ).dropna()
winners = champions.where(champions["won"] == True ).dropna()
shortest_game = winners[["team","enemy","time"]]
shortest_game.sort_values(by="time", ascending=False).drop_duplicates().tail(1)

     team enemy      time
1043   T1    C9  00:22:25

<font size=10>Players<font>

<font size=5>Number of pentakills per player<font>

In [140]:
pentas = champions.where(champions["penta"] > 0)
pentas = pentas.dropna()
pentas["number of pentas"] = pentas.groupby("player")["penta"].sum()
pentas.groupby(["team","player"])["penta"].sum()

team  player
BDS   CROWNIE    1.0
GAM   SLAYDER    1.0
LLL   ROUTE      1.0
Name: penta, dtype: float64

<font size=5>Number of unique champion picks for players<font>

In [141]:
unique_champ_player_pair = champions[["player","champion"]].where(champions["picked"] == True).drop_duplicates().dropna()
unique_team_picks = unique_champ_player_pair.value_counts(subset = ["player"]).head()
unique_team_picks

player
SHEO      9
LEVI      8
ADAM      8
NUC       8
KATI      7
dtype: int64

<font size=5>Most First Bloods<font>

In [142]:
unique_champ_player_pair = champions[["player","fb"]].where(champions["fb"] == True).dropna()
unique_team_picks = unique_champ_player_pair.value_counts(subset = ["player"]).head()
unique_team_picks

player
BEANJ      4
CROWNIE    4
SCOUT      3
PALETTE    3
SHUNN      3
dtype: int64

<font size=5>Most Kills in a single game (Players can appear more than once)<font>

In [143]:
kills_by_player = champions[["team","player","enemy","kills"]].where(champions["picked"] == True).dropna()
kills_by_player.sort_values("kills", ascending = False).head(10)

     team   player enemy  kills
1100   KT   AIMING   WBG   14.0
585   BDS  CROWNIE   PSG   13.0
1062  NRG      FBI   MAD   12.0
145    TW  ARTEMIS   BDS   11.0
480   GAM  SLAYDER    TW   11.0
206   PSG     WAKO   LLL   11.0
42    LLL    ROUTE   GAM   11.0
743   LNG    SCOUT   FNC   11.0
405   BDS  CROWNIE   CFO   10.0
366   GAM  SLAYDER   LLL   10.0

<font size=5>Most Kills in a single game (only 1 time in the ranks)<font>

In [144]:
kills_by_player = champions[["team","player","enemy","kills"]].where(champions["picked"] == True).dropna()
unique_max_kills_by_player = kills_by_player.groupby("player").max()
unique_max_kills_by_player.sort_values("kills", ascending = False).head(10)

        team enemy  kills
player
AIMING    KT   WBG   14.0
CROWNIE  BDS    TW   13.0
FBI      WBG    TL   12.0
SCOUT    LNG   JDG   11.0
ARTEMIS   TW   GAM   11.0
SLAYDER  GAM    TW   11.0
ROUTE    LLL   PSG   11.0
WAKO     PSG    R7   11.0
JIMIEN   CFO    TW   10.0
GLORYY    TW   GAM   10.0

<font size=5>Highest KDA<font>

In [145]:
#this code deos not verify if deaths are always 0
k_d_a_by_player = champions[["player","kills", "deaths","assists"]].where(champions["picked"] == True).dropna()
k_d_a_by_player = k_d_a_by_player.groupby("player").sum()
k_d_a_by_player = k_d_a_by_player.where(k_d_a_by_player["deaths"] > 0)

kda_by_player = k_d_a_by_player

kda_by_player["kda"] = (kda_by_player["kills"] + kda_by_player["assists"]) / kda_by_player["deaths"]
kda_by_player["kda"] = kda_by_player["kda"].round(1)
kda_by_player.sort_values("kda", ascending = False).head(10)

         kills  deaths  assists   kda
player
PEYZ      22.0     3.0     25.0  15.7
CHOVY     23.0     4.0     34.0  14.2
DORAN     14.0     4.0     31.0  11.2
PEANUT    16.0     5.0     39.0  11.0
DELIGHT    3.0     6.0     53.0   9.3
MISSING    2.0     6.0     49.0   8.5
LEHENDS    1.0     4.0     31.0   8.0
TARZAN     8.0     7.0     44.0   7.4
SCOUT     27.0     7.0     23.0   7.1
RULER     19.0     6.0     22.0   6.8

<font size=10>Misc<font>

<font size=5>B v R winrate<font>

In [146]:
side_winrate = champions[["team","enemy","side","won","date","game"]].dropna().drop_duplicates()


r_side_winrate = side_winrate.where(side_winrate["side"] == "R").dropna()
r_side_winrate = r_side_winrate.where(r_side_winrate["won"] == True).dropna()
r_side_winrate = r_side_winrate.value_counts(subset = ["side"]).head()


b_side_winrate = side_winrate.where(side_winrate["side"] == "B").dropna()
#print(b_side_winrate.to_string())
b_side_winrate = b_side_winrate.where(b_side_winrate["won"] == True).dropna()
b_side_winrate = b_side_winrate.value_counts(subset = ["side"]).head()


total = b_side_winrate[0] + r_side_winrate[0]
red_victories = r_side_winrate[0]
red_percentage = (red_victories*100/total)
blue_victories = b_side_winrate[0]
blue_percentage = (blue_victories*100/total)
print(f"total games: {total} ")
print(f"Blue side victories: {blue_victories} translates to {blue_percentage:.2f}% winrate")
print(f"Red side victories: {red_victories} translates to {red_percentage:.2f}% winrate")

total games: 61
Blue side victories: 38 translates to 62.30% winrate
Red side victories: 23 translates to 37.70% winrate

<font size=5>Champion picked in which matches<font>

In [147]:
champ_name = "POPPY"
champ = champions.where(champions["picked"] == True).dropna()
champ = champ.where(champ["champion"] == champ_name).dropna()
champ

,champion,picked,side,order,team,enemy,game,position,player,fb,kills,deaths,assists,date,won,time,penta,stage
349,POPPY,True,R,5.0,DFM,BDS,2.0,TOP,APAMEN,False,0.0,4.0,2.0,2023-10-13,False,00:28:57,0.0,PLAY-INS
547,POPPY,True,R,3.0,PSG,BDS,2.0,JUNGLE,JUNJIA,False,0.0,2.0,11.0,2023-10-15,True,00:28:07,0.0,PLAY-INS
720,POPPY,True,B,1.0,NRG,WBG,1.0,JUNGLE,WEIWEI,True,2.0,0.0,5.0,2023-10-19,True,00:29:07,0.0,SWISS
1085,POPPY,True,R,1.0,FNC,BLG,1.0,TOP,OSCARININ,False,2.0,4.0,2.0,2023-10-22,False,00:32:55,0.0,SWISS

<font size=5>Champion picked By X player<font>

In [236]:
X = "SHEO"
player_champions = champions.where(champions["player"] == X).dropna()
player_champions

,champion,picked,side,order,team,enemy,game,position,player,fb,kills,deaths,assists,date,won,time,penta,stage
120,RELL,True,B,1.0,BDS,TW,1.0,JUNGLE,SHEO,True,1.0,0.0,10.0,2023-10-11,True,00:23:44,0.0,PLAY-INS
142,RELL,True,B,3.0,BDS,TW,2.0,JUNGLE,SHEO,False,0.0,4.0,6.0,2023-10-11,False,00:38:45,0.0,PLAY-INS
169,GRAGAS,True,R,5.0,BDS,TW,3.0,JUNGLE,SHEO,False,0.0,1.0,4.0,2023-10-11,False,00:41:04,0.0,PLAY-INS
326,IVERN,True,R,2.0,BDS,DFM,1.0,JUNGLE,SHEO,False,1.0,0.0,9.0,2023-10-13,True,00:26:54,0.0,PLAY-INS
341,VI,True,B,2.0,BDS,DFM,2.0,JUNGLE,SHEO,False,5.0,1.0,6.0,2023-10-13,True,00:28:57,0.0,PLAY-INS
406,SEJUANI,True,R,2.0,BDS,CFO,1.0,JUNGLE,SHEO,False,2.0,2.0,16.0,2023-10-14,True,00:42:25,0.0,PLAY-INS
426,MAOKAI,True,R,2.0,BDS,CFO,2.0,JUNGLE,SHEO,False,2.0,1.0,11.0,2023-10-14,True,00:28:29,0.0,PLAY-INS
525,SEJUANI,True,R,1.0,BDS,PSG,1.0,JUNGLE,SHEO,False,0.0,3.0,3.0,2023-10-15,False,00:34:24,0.0,PLAY-INS
543,TALIYAH,True,B,4.0,BDS,PSG,2.0,JUNGLE,SHEO,False,0.0,5.0,3.0,2023-10-15,False,00:28:07,0.0,PLAY-INS
560,MAOKAI,True,B,1.0,BDS,PSG,3.0,JUNGLE,SHEO,False,3.0,3.0,15.0,2023-10-15,True,00:40:35,0.0,PLAY-INS
586,IVERN,True,R,2.0,BDS,PSG,4.0,JUNGLE,SHEO,False,1.0,1.0,16.0,2023-10-15,True,00:26:36,0.0,PLAY-INS
605,MAOKAI,True,R,1.0,BDS,PSG,5.0,JUNGLE,SHEO,False,1.0,1.0,7.0,2023-10-15,True,00:43:49,0.0,PLAY-INS
681,VI,True,B,2.0,BDS,JDG,1.0,JUNGLE,SHEO,False,2.0,3.0,4.0,2023-10-19,False,00:27:01,0.0,SWISS
826,VI,True,R,2.0,BDS,MAD,1.0,JUNGLE,SHEO,False,0.0,4.0,6.0,2023-10-20,False,00:31:47,0.0,SWISS
1186,LEE SIN,True,R,2.0,BDS,DK,1.0,JUNGLE,SHEO,True,1.0,4.0,4.0,2023-10-23,False,00:24:31,0.0,SWISS
1203,WUKONG,True,B,4.0,BDS,DK,2.0,JUNGLE,SHEO,False,1.0,2.0,2.0,2023-10-23,False,00:24:22,0.0,SWISS

<font size=5>Times Champion picked By X player<font>

In [238]:
X = "SHEO"
player_champions = champions.where(champions["player"] == X).dropna()
unique_player_champions = player_champions.value_counts(subset = ["champion"])
unique_player_champions

champion
MAOKAI      3
VI          3
IVERN       2
RELL        2
SEJUANI     2
GRAGAS      1
LEE SIN     1
TALIYAH     1
WUKONG      1
dtype: int64

In [58]:
team_region = pd.read_csv("teams_region.csv")
def add_teams_region(region,team,team_region):
    list_to_add = pd.DataFrame({"region": [region], "team":[team]})
    team_region = pd.concat([team_region, list_to_add], ignore_index= True)
    team_region.to_csv('teams_region.csv', mode='w', index=False)
    return team_region

In [41]:
#team_region = add_teams_region("KR","GEN",team_region)
#team_region = add_teams_region("KR","T1",team_region)
#team_region = add_teams_region("KR","KT",team_region)
#team_region = add_teams_region("KR","DK",team_region)
#
#team_region = add_teams_region("CN","JDG",team_region)
#team_region = add_teams_region("CN","BLG",team_region)
#team_region = add_teams_region("CN","LNG",team_region)
#team_region = add_teams_region("CN","WBG",team_region)
#
#team_region = add_teams_region("EMEA","G2",team_region)
#team_region = add_teams_region("EMEA","FNC",team_region)
#team_region = add_teams_region("EMEA","MAD",team_region)
#team_region = add_teams_region("EMEA","BDS",team_region)
#
#team_region = add_teams_region("NA","NRG",team_region)
#team_region = add_teams_region("NA","C9",team_region)
#team_region = add_teams_region("NA","TL",team_region)
#
#team_region = add_teams_region("PCS","PSG",team_region)
#team_region = add_teams_region("PCS","CFO",team_region)
#
#team_region = add_teams_region("VN","GAM",team_region)
#team_region = add_teams_region("VN","TW",team_region)
#
#team_region = add_teams_region("JP","DFM",team_region)
#
#team_region = add_teams_region("BR","LLL",team_region)
#
#team_region = add_teams_region("LAT","R7",team_region)

In [40]:
team_region

   region team
0      KR  GEN
1      KR   T1
2      KR   KT
3      KR   DK
4      CN  JDG
5      CN  BLG
6      CN  LNG
7      CN  WBG
8    EMEA   G2
9    EMEA  FNC
10   EMEA  MAD
11   EMEA  BDS
12    NaN  NRG
13    NaN   C9
14    NaN   TL
15    PCS  PSG
16    PCS  CFO
17     VN  GAM
18     VN   TW
19     JP  DFM
20     BR  LLL
21    LAT   R7

In [59]:
trial = pd.merge(champions,team_region,how="left",on="team")
trial.to_csv('games.csv', mode='w', index=False)